:root{
    --color1: #155749;
    --color2: #16394c;
    --color3: #4f384a;
    --color4: #ffffffdc;
}

body{
    background-color: var(--color2);
}
#ap{
    height: 100%;
}
button{
    all: unset;
    background-color: rgb(255, 208, 0);
    color: var(--color3);
    padding: 1%;
    font-size: 0.8em;
    text-align: center;
    width: 35%;
    font-weight: bold;
 }
  button:hover{
    background-color: var(--color3);
    color: white;
  }